.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  width: 300px;
  height: 400px;
  margin: 0.5rem;
  background-color: #f4f4f4;
  transition: 0.5s;
  box-shadow: 5px 5px 16px rgb(2, 2, 2, 0.3);
}

.card:hover {
  box-shadow: 10px 10px 16px rgb(2, 2, 2, 0.3);
}

.card:hover .content {
  top: 300px;
}

/* .imageHolder {
  width: 300px;
  height: 400px;
  background-color: #eee;
} */

.content {
  position: absolute;
  top: 100%;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  position: absolute;
  top: 10px;
  z-index: 1;
  color: #f2f2f2;
  font-size: 32px;
  font-weight: 500;
}
